<mat-tab-group color="accent" backgroundColor="primary">
  <mat-tab label="试题列表">
    <div class="container mat-elevation-z8">
      <div class="button-row">
        <button mat-raised-button (click)="add()">添加</button>
        <button mat-raised-button color="primary" (click)="update()">修改</button>
        <button mat-raised-button color="accent" (click)="delete()">删除</button>
        <button mat-raised-button (click)="refresh()">刷新</button>
      </div>

      <alert></alert>
      <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="查询值...">
      </mat-form-field>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table" matSort matSortActive="id">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? singleToggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Number Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>标识号</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>分值</th>
            <td mat-cell *matCellDef="let row">{{row.score}}</td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="criteriaName">
            <th mat-header-cell *matHeaderCellDef>评分标准</th>
            <td mat-cell *matCellDef="let row">{{row.assCriteria.name}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="singleToggle(row);"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="添加/更新">
    <alert></alert>
    <form [formGroup]="examItemForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="标识号" formControlName="id" [(ngModel)]="curExamItem.id" readonly>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="分值" type="number" formControlName="score" [(ngModel)]="curExamItem.score">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="评分标准" formControlName="criteriaId" [(ngModel)]="curExamItem.assCriteria.id">
          <mat-option *ngFor="let criteria of criterias" [value]="criteria.id">
            {{criteria.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="button-row" color="primary" type="submit">确定</button>
      <button mat-raised-button class="button-row" (click)="tabGroup.selectedIndex = 0">取消</button>
    </form>
  </mat-tab>
</mat-tab-group>
